geoai_env/
# Python compiled files
__pycache__/
__pycache__
*__pycache__
*.pyc
*.pyo
*.pyd

.DS_Store

# SQLite database files
*.sqlite3

# Media and static files
media/

# Sensitive files
.env
env.py

# Webpack
static/geoai/node_modules/

# Video tutorial files.
chat/templates/chat/tutorial.html
static/geoai/css/darkmode-tutorial.css
static/geoai/js/original/chat/darkmode_tutorial.js
static/geoai/js/webpack/chat/darkmode_tutorial.bundle.js