{% extends "base.html" %}
{% load static %}
{% load chat_filters %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'geoai/css/bg-mode.css' %}" />
{% endblock %}
{% block content %}
<section id="chat-main">
    <div id="sidebar">
        <div class='sidebar-sections'>
            <a href="{% url 'chat_home' %}" class="chat-history-title">
                ახალი დიალოგი
            </a>
            <div class="chat-history-links">
                {% include "chat/topics.html" %}
            </div>
        </div>
        <div class='sidebar-sections'>
            <ul class='profile-links'>
                <li>
                    <a href="{% url "account_logout" %}">გასვლას</a>
                </li>
                <li>
                    <div class='bg-mode'>
                        <div class='bg-mode-title'>გარემო</div>
                        <div class='bg-mode-switch'>
                            <input type="checkbox" id="darkmode-toggle" />
                            <label for="darkmode-toggle">
                                {% include 'chat/bg-mode-svgs.html' %}
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    {{user_settting.light_mode}}
                </li>
            </ul>
        </div>
    </div>
    <div id="chat-content">
        <div class='chat-qa-content'>
            {% include "chat/topic.html" %}
        </div>
        <div class='chat-qa-form'>
            {% include 'chat/question_form.html' %}
        </div>
    </div>

</section>
{% endblock %}

{% block bottom_js %}
    {{ slug|json_script:'slug'}}
    {{ user_id|json_script:'userID' }}
    {{ user_settting.light_mode|json_script:'lightMode'}}
    <script id='currentPage' type='application/json'>{{ request.get_full_path|current_page }}</script>
    <script type="text/javascript" src="{% static 'geoai/js/webpack/chat/chat.bundle.js'%}"></script>
{% endblock %}