{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="chat-main">
    <div id="sidebar">
        <div class='sidebar-sections'>
            <a href="{% url 'chat_home' %}" class="chat-history-title">
                ახალი დიალოგი
            </a>
            <div class="chat-history-links">
                {% include "chat/topics.html" %}
            </div>
        </div>
        <div class='sidebar-sections'>
            <ul class='profile-links'>
                <li>
                    <a href="{% url "account_logout" %}">გასვლას</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="chat-content">
        <div class='chat-qa-content'>
            {% include "chat/topic.html" %}
        </div>
        <div class='chat-qa-form'>
            {% include 'chat/question_form.html' %}
        </div>
    </div>

</section>
{% endblock %}

{% block bottom_js %}
    {{ slug|json_script:'chat-name'}}
    <script type="text/javascript" src="{% static 'geoai/js/websocket_helpers.js'%}"></script>
    <script>
        let slug = JSON.parse(document.getElementById('chat-name').textContent);
        // Generate a WebSocket URL.
        const generateUrl = (slug) => {
            if (slug == null) {
                slug = '';
            } else {
                slug = slug + '/'
            }
            url = 'ws://' + window.location.host + '/ws/chat/'+ slug
            return url
        }
   
        // Instantiate the WebSocket.
        const chatSocket = new WebSocket(generateUrl(slug));

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);      
            //const formattedtText = textFormat(data.message);
            
            document.querySelector('.answer_waiting_gif').style.display = 'none';
            document.querySelector('#' + answerID).innerHTML = (data.message + '\n');
            
            // Enable button
            enableButton('#chat-message-submit')
        };


        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            disableButton('#chat-message-submit')

            question(message);
            if(slug == null){
                slug = addTopicTitle(message.slice(0, 20) + ' ...').slug;
            }    
            scrollBottom();

            chatSocket.send(JSON.stringify({
                'message': message,
                'slug': slug,
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}