{% extends "base.html" %}
{% block content %}
<section id="chat-main">
    <div id="sidebar">
        <div class='sidebar-sections'>
            <a href="{% url 'chat_home' %}" class="chat-history-title">
                ახალი დიალოგი
            </a>
            <div class="chat-history-links">
                {% include "chat/topics.html" %}
            </div>
        </div>
        <div class='sidebar-sections'>
            <ul class='profile-links'>
                <li>
                    <a href="{% url "account_logout" %}">გასვლას</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="chat-content">
        <div class='chat-qa-content'>
            {% include "chat/topic.html" %}
        </div>
        <div class='chat-qa-form'>
            {% include 'chat/question_form.html' %}
        </div>
    </div>

</section>
{% endblock %}

{% block bottom_js %}
    {{ slug|json_script:'chat-name'}}
    <script>
        const chatName = JSON.parse(document.getElementById('chat-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + chatName
            + '/'
        );

        let paragraphID = ''

        const scrollBottom = () => {
            const element = document.querySelector('.chat-qa-content');
            element.scrollTo({top:element.scrollHeight, behaviour: 'smooth'});
        }

        const createElement = (type) => {
            const chatQaContent = document.querySelector('.chat-qa-content')
            const qaElement = document.createElement('div')
            const questionElement = document.createElement('div')
            const questionParagraph = document.createElement('p')
            
            // Generate ta unique value for adding to ID
            const uv = Date.now().toString()
            paragraphID = type == 'q' ? 'cur-question-log-' + uv: 'cur-answer-log-' + uv

            qaElement.classList.add(type + 'a-block')
            questionElement.classList.add(type + '-block')
            questionParagraph.classList.add(type + '-paragraph', 'b-block-content')
            questionParagraph.id = paragraphID

            questionElement.appendChild(questionParagraph)
            qaElement.appendChild(questionElement)
            chatQaContent.appendChild(qaElement)
        }


        chatSocket.onmessage = function(e) {
            createElement('q')
            const data = JSON.parse(e.data);
            document.querySelector('#' + paragraphID).innerHTML = (data.message + '\n');
            scrollBottom()
        };


        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}