 {% block extra_style %}
    <link id='pygmentsStyle' rel="stylesheet" href="{{user_setting.mode_style}}" />
 {% endblock %}
 <!-- For Testing -->
 {% comment %} <div class='qa-block'>
    <div class='q-block'>
        <p class='b-block-content'>
            Question
        </p>
    </div>
    <div class='a-block'>
        {{test|safe}}
    </div>   
</div> {% endcomment %}
<!-- Questions & Answers -->
{% for question in questions %}
    <div class='qa-block'>
        <div class='q-block'>
            <p class='b-block-content'>
                <!-- Avatar -->
                {% if question.avatar %}
                    <img src="{{ question.avatar.url }}">
                {% endif %}
                <!-- Question -->
                {{ question.content }}
            </p>
        </div>
        <div class='a-block'>
            <!-- Answer -->
            {% comment %} {{question.answer.eng_content|safe}} {% endcomment %}
            {{question.answer.geo_formated_content|safe}}
            <!-- <p class='a-block-content'> --> 
                {% comment %} {{ question.answer_set.get.content }} {% endcomment %}              
            <!-- </p> -->
        </div>   
    </div>
{% endfor %}