{% load static %}
<ul>
    {% for topic in topics %}
        <!-- Subjext title -->
        <li>    
            <a href="{% url 'topic' topic.slug %}"> 
                {{topic.title}}...
            </a>
            <div class='act-wrapper'>
                <!-- Action buttons container -->
                <div class='topic-title-act-btn'>
                    <a href="#" class="geoai-icons geoai-edit-icon"></a> <!-- Edit -->
                    <a href="#" class="geoai-icons geoai-trash-icon"></a> <!-- Delete -->      
                </div>
                <!-- Confirmation dialog container --> 
                <div class='act-btn-confirm'>
                    <p class='confirm-msg'></p> <!-- Confirmation message -->
                    <a href="#" class="geoai-icons geoai-check-icon"></a> <!-- Approve -->
                    <a href="#" class="geoai-icons geoai-x-icon"></a> <!-- Close -->
                </div>
            </div>  
        </li>
    {% endfor %}
</ul>