{% load chat_filters %}
<ul class='topic-title-ul'>
    {% for topic in topics %}
        <!-- Subjext title -->
        <li id='li-{{topic.id}}'>    
            <a href="{% url 'topic' topic.slug %}" id='title-{{topic.id}}' class='title-link'> 
                <span id='t-span-{{topic.id}}' class='title-span'>{{topic.title}}</span>
                {{topic|add_ellipsis}}
            </a>
            <div class='act-wrapper'>
                <!-- Action buttons container -->
                <div class='topic-title-act-btn'>
                    <a href="#" class="geoai-icons geoai-edit-icon" id='{{topic.id}}'></a> <!-- Edit -->
                    <a href="#" class="geoai-icons geoai-trash-icon" id='{{topic.id}}'></a> <!-- Delete -->      
                </div>
                <!-- Confirmation dialog container --> 
                <div class='act-btn-confirm'>
                    {% comment %} <p class='confirm-msg'></p> <!-- Confirmation message --> {% endcomment %}
                    <a href="#" class="geoai-icons geoai-check-icon" id='{{ topic.id }}'></a> <!-- Approve -->
                    <a href="#" class="geoai-icons geoai-x-icon" id='{{topic.id}}'></a> <!-- Close -->
                </div>
            </div>  
        </li>
    {% endfor %}
</ul>