{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <!-- Sing In/Up form. -->
  <div id="auth-main">

    <!-- Language preferences -->
    <div class="custom-select">
        <div class="selected-option" data-value="">
            <span>Choose Language</span>
            <div class="select-arrow"></div>
        </div>
        <div class="options">
            <div class="option" data-value="en">
                English
            </div>
            <div class="option" data-value="ka">
                Georgian
            </div>
        </div>
    </div>
    
    <!-- Form to set a language in user session. -->
    <form action="{% url 'set_language' %}" method='post' id='set-lang-form'>
      {% csrf_token %}
      <input type='hidden' name='language' value='ka' id='current-lang' />
    </form>

    <!-- Sing In/Ip block. -->
    <div class='allauth-wrapper'>
      <div class='col-left'>
          <ul class='login-msg-ul'>
            <li class='desc-text'>
                <h3>{% trans 'About Project' %}</h3>
                <hr class='devided-line'>
                <p>
                  {% trans "The project is based on the  ChatGTP API and represents it's Georgian version" %}       
                  <!-- {% get_current_language as LANGUAGE_CODE %}
                    Current language: {{ LANGUAGE_CODE }} -->
                </p>
            </li>

            <li class='desc-text'>
                <h3>{% trans 'Project Goal' %}</h3>
                <hr class='devided-line'>
                <p>
                  {% trans "The goal of the project is to introduce the capabilities of the AI to non-English speakers." %}
                </p>
            </li>

            <li class='desc-text'>
                <h3>{% trans "Capabilities" %}</h3>
                <hr class='devided-line'>
                <p>
                  {% trans "You can adjust the API parameters and even set your own API KEY." %}
                </p>
            </li>
          </ul>
      </div>
      <div class='col-right'>
        <h1>{% trans "Log In" %}</h1>

        <p class='login-text'>
        {% trans "Please authenticate yourself or register at the following link:" %}
          <a href="{{ signup_url }}" class='login-reg'>
            {% trans "Registration" %}
            <i class='arrow-icon'></i>
          </a>
        </p>

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}

          <p class='login-form-input'>{{ form.login }}</p>
          <p class='login-form-input'>{{ form.password }}</p>
          
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <div class='reset-and-remember'>
            <div>
              <a class="forgot-pass button secondaryAction" href="{% url 'account_reset_password' %}">
                <i class='arrow-icon'></i>
                {% trans "Forgot password?" %}
              </a>
            </div>

            <!-- Remember me checkbox. -->
            <div class='allauth-remember'>
              {% trans 'Remember:' %} 
              <label for='id_remember' class='custom-checkbox'>
                {{ form.remember }}
                <span class='checkmark'></span>
              </label>
            </div>

          </div>

          <!-- Login button. -->
          <button class="primaryAction" type="submit">
            <i class='arrow-icon'></i>
            {% trans "Authentication" %}
          </button>
        </form>

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
          <div class='social-wrapper'>

            <div class="login-or">{% trans 'or' %}</div>

            <a href="{% url 'google_login' %}" id="google-btn">
              <i class='arrow-icon'></i>
              {% trans 'Connect with Google' %}
            </a>

            
            {% include "socialaccount/snippets/login_extra.html" %}
          </div>

        {% else %}
          <p>
            {% blocktrans %}
              If you have not created an account yet, then please
              <a href="{{ signup_url }}">sign up</a> first.
            {% endblocktrans %}
          </p> 
        {% endif %}
      </div>
    </div>
  </div> 

  <!-- Particles animation. -->
  <canvas id='main-bg' width="100%" height="100vh">dd</canvas>
{% endblock %}

{% block bottom_js %}
  <script type='text/javascript'>
    // Custom select element.
    class SelectElement {

        constructor() {
            this.selectedOption = this.elm('.selected-option');
            this.optionsBlock; // Display/Hide the options block.
            this.selectOption; // Handle a particular option selection.
            this.arrowRotated = false // Arrow toggle trucker.
        }

        elm(attr) {
            return document.querySelector(attr);
        }

        get optionsBlock() {
          this.selectedOption.addEventListener('click', () => {
              // Grab options block.
              const options = this.elm('.options');
              
              // Toggle a  display of the options block.
              options.style.display = options.style.display === 'none' || options.style.display === '' ? 'block' : 'none';

              // Rotate the arrow.
              this.rotateArrow;

          });
        }

        get rotateArrow() {
            const arrow = this.elm('.select-arrow');
            if(this.arrowRotated){
                arrow.style.transform = `rotate(0deg)`;
            } else {
                arrow.style.transform = `rotate(180deg)`;
            }
            this.arrowRotated = !this.arrowRotated;
        }

        get selectOption() {
            // Grab all option elements.
            document.querySelectorAll('.option').forEach(element => {
                this.optionFunc(element);
            });
        }

        optionFunc(element) {
          // Call function on each element.
          element.addEventListener('click', () => {
              // Grab current element data-value and content.
              const value = element.getAttribute('data-value');
              const text = element.textContent;

              // Grab selected elemen span.
              const selectedOption = this.elm('.selected-option span');

              // Set content and attribute to selected element.
              selectedOption.textContent = text;
              selectedOption.parentNode.setAttribute('data-value', value);

              // Hide options block.
              this.elm('.options').style.display = 'none';

              // Submit the form element.
              this.submitForm(value);
          });
        }

        // This function submits the form element which calles
        // The django set_language view to set a language in the user session.
        submitForm(value) {
          const setLangForm = this.elm('#set-lang-form');
          const currentLang  =this.elm('#current-lang');      
          currentLang.value = value;
          setLangForm.submit();
        }
    }

    new SelectElement();
  </script>
{% endblock %}
  


