:root{
    /* Main colors */
    --primary-color: #9B999B;
    --secondary-color: #e6e6e6;
    --text-color: #4F4D4F;
    --body-bg-color: #fcfcfc;

    /* Color of the question/answer block */
    --a-block: #f3f2f2;
    --q-block: #d3d3d3;

    /* Color of the backtick in the response text */
    --bckstk-bg-color: #fcfcfc;
    --bckstk-border-color: #dfdfdf;

    /* Title action buttons icons */
    --edit-icon: url('../images/icons/geoai-edit-icon.png');
    --check-icon: url('../images/icons/geoai-check-icon.png');
    --trash-icon: url('../images/icons/geoai-trash-icon.png');
    --x-icon: url('../images/icons/geoai-x-icon.png');

    /* Answer waiting gif colors */
    --answer-waiting-gif-color-01: rgba(229, 229, 229, 0.3);
    --answer-waiting-gif-color-02: rgba(240, 240, 240, 0.9);
    --answer-waiting-gif-color-03: rgba(240, 240, 240, 0.9);
    --answer-waiting-gif-color-04: rgba(229, 229, 229, 0.3);

    /* Question input colors */
    --textarea-btn: #d3d3d3;
    --textarea-btn-hover: #bfbfbf;           
}

[data-theme="dark"] {
    /* Main colors */
    --primary-color: #9B999B;
    --secondary-color: #868686;
    --text-color: #f3f3f3;
    --body-bg-color: #646464;

    /* Color of the question/answer block */
    --a-block: #545454;
    --q-block: #7c7c7c;

    /* Color of the backtick in the response text */
    --bckstk-bg-color: #717171;
    --bckstk-border-color: #8b8b8b;

    /* Title action buttons icons */
    --edit-icon: url('../images/icons/dm-geoai-edit-icon.png');
    --check-icon: url('../images/icons/dm-geoai-check-icon.png');
    --trash-icon: url('../images/icons/dm-geoai-trash-icon.png');
    --x-icon: url('../images/icons/dm-geoai-x-icon.png');

    /* Answer waiting gif colors */
    --answer-waiting-gif-color-01: rgba(84, 84, 84, 1);
    --answer-waiting-gif-color-02: rgba(99, 99, 99, 1);
    --answer-waiting-gif-color-03: rgba(99, 99, 99, 1);
    --answer-waiting-gif-color-04: rgba(84, 84, 84, 1);

    /* Question input colors */
    --textarea-btn: #7c7c7c;
    --textarea-btn-hover: #656565;
}

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'FiraBook', sans-serif;
    font-size: 100%;
    letter-spacing: 0.03rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--body-bg-color);
    transition: background-color 0.2s, color 0.2s;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Menu', sans-serif;
    line-height: 1.5;
}

.display-element {
    display: flex;
}

.hide-element {
    display: none;
}

.disabled-btn {
    color: #d8d8d8 !important;
    cursor: not-allowed !important;
}

.rm-cursor {
   cursor: default;
}

.disabled-btn:hover{
    background-color: var(--secondary-color) !important;
}

.show-ellipsis {
    display: inline-block;
}

.hide-ellipsis {
    display: none;
}

.error-message {
    border: 1px solid #a36b75;
    background-color: #725c60;
    border-radius: 4px;
    width: 90%;
    margin: auto;
    padding: 16px 24px;
}

/* Loading animation for answer's container */
.skeleton-loading {
    opacity: 0.7;
    
    background: linear-gradient(120deg,
        var(--answer-waiting-gif-color-01) 30%,
        var(--answer-waiting-gif-color-02) 38%,
        var(--answer-waiting-gif-color-03) 40%,
        var(--answer-waiting-gif-color-04) 48%);

    background-size: 200% 100%;
    background-position: 100% 0;
    animation: skeleton-loading 1s linear infinite alternate,
               gradient-loading 2s infinite;
}

/* Background color animation */
@keyframes skeleton-loading {
    0% {
        background-color: hsl(0, 1%, 90%);
    }

    100% {
        background-color: hsl(0, 1%, 97%);
    }
}

/* Background gradient animation */ 
@keyframes gradient-loading {
    100% {
        background-position: -100% 0;
    }
}

div#auth-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.wrapper {
    width: 400px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 16px;
}

div.wrapper > h1 {
    text-align: center;
}

div.wrapper > p {
    text-align: center;
    margin: 16px 0px;
}

div.wrapper form.login > p:first-of-type{
    margin: 16px 0px;
}

div.wrapper form.login > p label {
    display: block;
}

div.wrapper form.login  > p input[type="email"],
div.wrapper form.login > p input[type="password"] {
        width: 100%;
        margin: auto;
        height: 40px;
        border: 1px solid var(--secondary-color);
        border-radius: 4px;
        padding-left: 10px;
}

div.wrapper form.login > button[type="submit"] {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 8px;
    margin: auto;
    margin-top: 24px;
}

div.wrapper form.login > p:last-of-type label {
    display: inline-block;
    margin: 8px 0px;
}

div.wrapper div.social-wrapper {
    text-align: center;
    margin: 24px 0px;
}

/* Sidebar overlay on lower devices. */
.sidebar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: var(--body-bg-color);
}

/* ================ CHAT ================ */
section#chat-main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    overflow: hidden;
}

section#chat-main > div {
    border-right: 1px solid var(--secondary-color)
}

section#chat-main div#sidebar-wrapper input#menu-checkbox,
section#chat-main div#sidebar-wrapper div#hamburger {
    display: none;
}

section#chat-main div#sidebar {
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 1fr;
    visibility: visible;
    opacity: 1;
    width: 100%;
}

section#chat-main div#sidebar div.sidebar-sections{
    width: 100%;
    border-bottom: 1px solid var(--secondary-color)
}

#chat-main #sidebar .chat-history-title {
    font-family: 'Menu', sans-serif;
    border-left: 2px solid var(--primary-color);
    width: 90%;
    margin: 16px auto;
    padding: 8px 16px;
}

#chat-main #sidebar .chat-history-links ul li {
    position: relative;
}


#chat-main #sidebar ul li {
    border-bottom: 1px dotted var(--secondary-color);
    transition: background-color 0.3s ease-out;
}

#chat-main #sidebar ul li:hover {
    background-color: var(--secondary-color)
}

#chat-main #sidebar ul li > a span.title-span:focus,
#chat-main #sidebar ul li > a span.title-span:focus-within,
#chat-main #sidebar ul li > a span.title-span:focus-visible {
    width: 75%;
    border-radius: 4px;
    outline: 1px solid var(--primary-color);
}

#chat-main #sidebar ul li > a {
    text-decoration: none;
    color: var(--text-primary);
    display: inline-block;
}

#chat-main #sidebar ul li > a,
#chat-main #sidebar ul li div.bg-mode{
    width: 100%;
    padding: 8px 12px;
}

#chat-main #sidebar ul li>a span.title-span {
    display: inline-block;
    padding: 2px 4px;
    word-wrap: break-word;
}

#chat-main #sidebar ul li div.act-btn-confirm,
#chat-main #sidebar ul li div.topic-title-act-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 27%;
    height: 100%;
    border-radius: 2px 0px 0px 2px;
    display: none;
}


#chat-main #sidebar ul li div.topic-title-act-btn {
    width: 25%;
}

#chat-main #sidebar ul li div.act-btn-confirm a.geoai-icons,
#chat-main #sidebar ul li div.topic-title-act-btn a.geoai-icons {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.display-act-btn-confirm {
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

#chat-main #sidebar ul li div.topic-title-act-btn a.geoai-edit-icon {
    background-image: var(--edit-icon);
}

#chat-main #sidebar ul li div.topic-title-act-btn a.geoai-trash-icon {
    background-image: var(--trash-icon);
}

#chat-main #sidebar ul li div.act-btn-confirm a.geoai-check-icon {
    display: inline-block;
    height: 100%;
    background-image: var(--check-icon);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

#chat-main #sidebar ul li div.act-btn-confirm a.geoai-check-icon:hover{
   transform: rotate(-20deg);
}

#chat-main #sidebar ul li div.act-btn-confirm a.geoai-x-icon {
    display: inline-block;
    height: 100%;
    background-image: var(--x-icon);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

#chat-main #sidebar ul li div.act-btn-confirm a.geoai-x-icon:hover {
    transform: rotate(-90deg);
}

/* Action confirmatio message */
#chat-main #sidebar ul li div.act-btn-confirm p.confirm-msg {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 8px;
    margin-left: 16px;
    margin-right: 16px;
}


#chat-main #sidebar ul li div.topic-title-act-btn:hover, 
#chat-main #sidebar ul li > a:hover ~ div .topic-title-act-btn{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}

#chat-main #sidebar .sidebar-sections .chat-history-title {
    text-align: center;
    display: block;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    margin: 16px auto;
    text-decoration: none;
    color: var(--text-color);
}

#chat-main #sidebar .chat-history-links ul li:first-child a.topic-title {
    margin-top: 16px;
}

#chat-main #sidebar ul li div.bg-mode {
    display: flex;
}

#chat-main #sidebar ul li div.bg-mode div {
    flex: 1;
}

#chat-main #sidebar ul li div.bg-mode div.bg-mode-title {
    display: flex;
    flex-grow: 2;
    align-items: center;
}

#chat-main #sidebar ul li div.bg-mode div.user-tokens-value,
#chat-main #sidebar ul li div.bg-mode div.bg-mode-switch {
    flex-grow: 1;
    position: relative;
}

#chat-main #sidebar ul li div.bg-mode div.user-tokens-value {
    text-align: right;
    font-size: 18px;
    padding-right: 4px;
    font-weight: bold;
}

#chat-main #sidebar .sidebar-sections .profile-links li {
    font-family: 'Menu', sans-serif;
}

#chat-main #chat-content {
    display: grid;
    grid-template-rows: 6fr 1fr;
    max-height: 100vh;
}

#chat-main #chat-content .chat-qa-form {
    border-top: 1px solid var(--secondary-color)
}

#chat-main #chat-content .chat-qa-form > form {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#chat-main #chat-content .chat-qa-form > form label {
    display: none;
}

#chat-main #chat-content .chat-qa-form > form textarea {
    display: inline-block;
    font-size: 1rem;
    color: var(--text-color);
    padding: 8px 4px;
    width: 100%;
    height: 50px;
    margin: 16px 0px 16px 0;
    padding-right: 90px;
    background-color: var(--a-block);
    border-radius: 4px 0px 0px 4px;
    outline: 0px solid var(--secondary-color);
    transition: outline 0.1s ease-in-out;
}

#chat-main #chat-content .chat-qa-form>form textarea:focus-visible{
    border-radius: 4px;
    outline: 1px solid var(--primary-color);
}

#chat-main #chat-content .chat-qa-form  form button {
    font-family: 'Menu', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.06rem;
    margin: 16px 0 16px 0;
    height: 50px;
    border: 1px solid var(--primary-color);
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    color: var(--text-color);
    background-color: var(--textarea-btn);
    transition: background-color 0.3s ease-in-out;

}

#chat-main #chat-content .chat-qa-form form button:hover {
    cursor: pointer;
    background-color: var(--textarea-btn-hover);
}

#chat-main #chat-content .chat-qa-form p.warning-msg {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 0.7rem;
    font-style: italic;
    color: var(--text-color);
}

#chat-main #chat-content .chat-qa-content {
    height: 100%;
    overflow: auto;
}

#chat-main #chat-content .chat-qa-content .qa-block {
    margin: 24px 0;
}

#chat-main #chat-content .chat-qa-content .qa-block .q-block,
#chat-main #chat-content .chat-qa-content .qa-block .a-block {
    width: 80%;
    margin: auto;
    padding: 16px 24px;
    border-radius: 4px 4px  0px 0px;
}

#chat-main #chat-content .chat-qa-content .qa-block .a-block {
    border-radius: 0px;
    background-color: var(--a-block)
}

#chat-main #chat-content .chat-qa-content .qa-block .q-block {
    background-color: var(--q-block);
}

#chat-main #chat-content .chat-qa-content .qa-block .a-block .highlight {
    margin: 24px 0px;
    padding: 16px 8px;
    overflow-x: auto;
}

#chat-main #chat-content .chat-qa-content .qa-block .a-block p {
    margin: 16px 0px 24px 0px;
}

#chat-main #chat-content .chat-qa-content .qa-block .a-block .bckstk-wrapper {
    display: inline-block;
    background-color: var(--bckstk-bg-color);
    font-size: 0.9rem;
    font-style: italic;
    border: 1px solid var(--bckstk-border-color);
    padding: 0px 8px;
    margin: 0px 2px;
    border-radius: 2px;
}

#chat-main #chat-content .chat-qa-content .qa-block .a-block .answer_waiting_gif {
    width: 50px;
    display: block;
    margin: auto;
}


/* Tablets and lower devices. */
@media (max-width: 820px){
    
    /* Hide sidebar */
    section#chat-main {
        grid-template-columns: 1fr;
    }

    section#chat-main div#sidebar {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    #chat-main #sidebar .sidebar-sections .chat-history-title {
        margin-top: 32px;
    }

    /* Humburger menu */
    section#chat-main div#sidebar-wrapper input#menu-checkbox {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    section#chat-main div#sidebar-wrapper div#hamburger {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background-color: var(--primary-color);
        border-radius: 0px 0px 8px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Hamburger menu middle line */
    section#chat-main div#sidebar-wrapper div#hamburger > div {
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background-color: var(--text-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

    /* Hamburger menu top and bottom lines */
    section#chat-main div#sidebar-wrapper div#hamburger>div::before,
    section#chat-main div#sidebar-wrapper div#hamburger>div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background-color: var(--text-color);
    }

    section#chat-main div#sidebar-wrapper div#hamburger>div::after {
        top: 10px;
    }

    /* Hamburger button animation (make it a X) */
    section#chat-main div#sidebar-wrapper input#menu-checkbox:checked + div#hamburger > div {
        transform: rotate(135deg);
    }

    section#chat-main div#sidebar-wrapper input#menu-checkbox:checked + div#hamburger > div::before,
    section#chat-main div#sidebar-wrapper input#menu-checkbox:checked + div#hamburger > div::after {
        top: 0;
        transform: rotate(90deg);
    }

    /* Rotate button on hover */
    section#chat-main div#sidebar-wrapper input#menu-checkbox:checked:hover + div#hamburger > div {
        transform: rotate(225deg);
    }

    /* Show sidebar */
    section#chat-main div#sidebar-wrapper input#menu-checkbox:checked ~ div#sidebar {
        opacity: 1;
        visibility: visible;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

}